/* Global CSS
-------------------------------------------------- */
@media (min-width: 576px) {
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
}

/* Navbar Stuff
-------------------------------------------------- */


/* About Stuff
-------------------------------------------------- */
/* Carousel base class */
.carousel {
	margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 20rem;
}

.carousel-item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 20rem;
}

/* Portfolio Stuff
-------------------------------------------------- */
.album {
	min-height: 35rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.card {
	padding: .75rem;
	margin-bottom: 2rem;
	border: 0;
}

.card > img {
	margin-bottom: .75rem;
}

.card-text {
	font-size: 85%;
}

/* Contact Stuff
-------------------------------------------------- */

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 120px;
	min-height: 75rem;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: darkturquoise;
}

.footer-content {
	margin-left: 15px;
}

.fa-github {
	color: darkgreen;
}

.fa-linkedin {
	color: darkred;
}