/* background
----------------------------------------- */
.stars, .twinkling {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	display: block;
}

.stars {
	background: #000 url(images/stars.png) repeat;
	z-index: -1;
}

.twinkling {
	background: transparent url(images/twinkling.png) repeat;
	z-index: 0;

	-moz-animation: move-twink-back 200s linear infinite;
	-ms-animation: move-twink-back 200s linear infinite;
	-o-animation: move-twink-back 200s linear infinite;
	-webkit-animation: move-twink-back 200s linear infinite;
	animation: move-twink-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}
@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

/* main
----------------------------------------- */
body {
	margin: 0;
	padding: 0;
	perspective: 400px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 99.99%; /* Safari bug */
	right: 0;
	box-sizing: unset;
	-webkit-box-sizing: unset;
}

.wrapper {
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.slides {
	perspective: 313px;
	padding: 50px 0px;
	width: 100%;
	height: 400px;
	transform-style: preserve-3d;
	overflow: visible;
	transform: translate(-50%, -0%);
	position: fixed;
	top: 50%;
	left: 50%;
}

/* slides
----------------------------------------- */
.slide {
	position: relative;
	margin: auto;
	width: 80%;
	height: 400px;
	transform: rotateX(-40deg);
	transform-origin: 0 0;
	box-shadow: inset 0 0 0 5px rgba(200, 200, 200, .25);
	z-index: 1;
}

.slide:nth-child(1) {
	background: hsla(45, 70%, 50%, .75);
}

.slide:nth-child(2) {
	background: hsla(45, 70%, 50%, .75);
}

.slide:nth-child(3) {
	background: hsla(45, 70%, 50%, .75);
}

.slide:nth-child(4) {
	background: hsla(45, 70%, 50%, .75);
}

.slide:nth-child(5) {
	background: hsla(45, 70%, 50%, .75);
}

.slide:nth-child(6) {
	background: hsla(45, 70%, 50%, .75);
}

.content {
	color: #fff;
	font-size: 275%;
	position: absolute;
	left: 50%;
	top: 50%;
	white-space: nowrap;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
}

/* Mobile
----------------------------------------- */

label {
	font: 100%/1.5 Arial;
	background: #fff;
	padding: .25em .5em;
	border-radius: 3px;
	position: fixed;
	z-index: 1;
	margin: .5em
}

.wrapper {
	transition: .5s transform;
}

.slide {
	transition: .5s 1s transform;
}

.slides {
	box-shadow: 0 0 0 1px orangered;
	transition: .5s 2s width;
}

#flat {
	position: absolute;
	top: -1000em;
}

#flat:checked ~ .wrapper {
	transform: none;
	transition: .5s 2s transform;
}

#flat:checked ~ .wrapper .slide {
	transform: none;
	transition: .5s 1s transform;
}

#flat:checked ~ .wrapper .slides {
	width: 600px;
	transition: .5s width;
}

#flat:not(:checked) + label::after {
	content: ' 2D';
}

#flat:checked + label::after {
	content: ' 3D';
}