/* responsive css
-------------------------------------------------- */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.jumbotron {
		background-image: url("https://bootcamp-coders.cnm.edu/~shebert2/pwp/public_html/images/jumbotron.png");
		background-size: 100% 100%;
	}
}

@media (min-width: 992px) {
}

/* global
------------------------------------------------------------------- */
html {
	height: 100%;
	box-sizing: border-box;

}

body {
	background: #e0e0e0;
	padding: 0;
	position: relative;
	margin: 0;
	height: 100%;
}

.wrapper {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main section {
	overflow: hidden;
}

/* about
-------------------------------------------------- */
.jumbotron {
	height: 500px;
	border-radius: 0;
	padding: 0px;
}

/* portfolio
-------------------------------------------------- */
.card {
	padding: 2rem;
	border: solid 1px;
	border-color: #eceeef;
	background-color: #f7f7f7;
}

img {
	width: inherit;
	height: inherit;
	margin-bottom: 1rem;
}

/* footer
-------------------------------------------------- */
footer {
	text-align: center;
	background-color: black;
	padding: 2rem;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

footer .fa {
	color: darkturquoise;
}

/* modal
--------------------------------------------------
.modal-body {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15rem;
}

.model-content {
	position: relative;
	display: flex;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
	background-color: white;
}

div.modal-content {
	padding: 2rem;
}
