/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 576px) {
	.modal-dialog {
		max-width: 500px;
		margin: 30px auto;
	}
}

@media (min-width: 768px) {
	.jumbotron {
		background-image: url("https://bootcamp-coders.cnm.edu/~shebert2/pwp/public_html/images/A.png");
		background-size: 100% 100%;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

/* NAVBAR
-------------------------------------------------- */
nav {
	padding 4rem;
	font-size: medium;
	color: #f7f7f7;
}

a.navbar-brand {
	color: #f7f7f7;
}

/* ABOUT
-------------------------------------------------- */
.jumbotron {
	margin-bottom: 30rem;
	height: 500px;
	width: auto;
	border-radius: 0;
}

.display-3 {

}

p.lead {

}

/* PORTFOLIO
-------------------------------------------------- */
.card {
	padding: 2rem;
	border: solid 1px;
	border-color: #eceeef;
	background-color: #f7f7f7;
}

img {
	width: inherit;
	height: inherit;
	margin-bottom: 1rem;
}

/* CONTACT
-------------------------------------------------- */
.modal-body {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15rem;
}

.model-content {
	position: relative;
	display: flex;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
	background-color: white;
}

div.modal-content {
	padding: 2rem;
}

button.btn {
	margin-left: .25rem;
	margin-right: .25rem;
}

/* FOOTER
-------------------------------------------------- */
footer {
	text-align: center;
	background-color: black;
	padding: 2rem;
}

footer .fa {
	color: darkturquoise;
}

/* RESUME
-------------------------------------------------- */
/* yui-grids style overrides */
#inner {
	padding: 10px 80px;
	margin: 80px auto;
	background: #f5f5f5;
	border: solid #666;
	border-width: 8px 0 2px 0;
}

.yui-gf {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid #ccc;
}

/* header, body, footer */
#hd {
	margin: 2.5em 0 3em 0;
	padding-bottom: 1.5em;
	border-bottom: 1px solid #ccc
}

#hd h2 {
	text-transform: uppercase;
	letter-spacing: 2px;
}

#bd {
	margin-bottom: 2em;
}

/* core typography and style */
#hd h1 {
	font-size: 48px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

h2 {
	font-size: 152%
}

h3, h4 {
	font-size: 122%;
}

h1, h2, h3, h4 {
	color: #333;
}

p {
	font-size: 100%;
	line-height: 18px;
	padding-right: 3em;
}

a:hover {
	text-decoration: none;
}

strong {
	font-weight: bold;
}

li {
	line-height: 24px;
	border-bottom: 1px solid #ccc;
}

p.enlarge {
	font-size: 144%;
	padding-right: 6.5em;
	line-height: 24px;
}

p.enlarge span {
	color: #000
}

.contact-info {
	margin-top: 7px;
}

.first h2 {
	font-style: italic;
}

.last {
	border-bottom: 0
}

/* section styles */
a#pdf {
	display: block;
	float: left;
	background: #666;
	color: white;
	padding: 6px 50px 6px 12px;
	margin-bottom: 6px;
	text-decoration: none;
}

a#pdf:hover {
	background: #222;
}

.job {
	position: relative;
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ccc;
}

.job h4 {
	position: absolute;
	top: 0.35em;
	right: 0
}

.job p {
	margin: 0.75em 0 3em 0;
}

.last {
	border: none;
}

.skills-list {
}

.skills-list ul {
	margin: 0;
}

.skills-list li {
	margin: 3px 0;
	padding: 3px 0;
}

.skills-list li span {
	font-size: 152%;
	display: block;
	margin-bottom: -2px;
	padding: 0
}

.talent {
	width: 32%;
	float: left
}

.talent h2 {
	margin-bottom: 6px;
}

#srt-ttab {
	margin-bottom: 100px;
	text-align: center;
}

#srt-ttab img.last {
	margin-top: 20px
}

/* override to force 1/8th width grids */
.yui-gf .yui-u {
	width: 80.2%;
}

.yui-gf div.first {
	width: 12.3%;
}



