/* responsive css
-------------------------------------------------- */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
	.jumbotron {
		background-image: url("https://bootcamp-coders.cnm.edu/~shebert2/pwp/public_html/images/A.png");
		background-size: 100% 100%;
	}
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}



/* global
------------------------------------------------------------------- */
html {
	height: 100%;
}
body {
	background: #e0e0e0;
	padding: 0;
	text-align: center;
	position: relative;
	margin: 0;
	height: 100%;
}

.wrapper {
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.main {
	float: left;
	width: 100%;
	margin: 0 auto;
}

.main section {
	overflow: hidden;
}


/* header
------------------------------------------------------------------- */

.back {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	display: block;
	padding: 7px;
	width: 100%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	font-weight: bold;
	font-size: 13px;
	color: #000;
	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

.back:hover {
	color: black;
}

header {
	position: relative;
	z-index: 10;
}



/* about
-------------------------------------------------- */
.jumbotron {
	margin-bottom: 30rem;
	height: 500px;
	width: auto;
	border-radius: 0;
}



/* portfolio
-------------------------------------------------- */
.card {
	padding: 2rem;
	border: solid 1px;
	border-color: #eceeef;
	background-color: #f7f7f7;
}

img {
	width: inherit;
	height: inherit;
	margin-bottom: 1rem;
}



/* CONTACT
--------------------------------------------------
.modal-body {
	position: relative;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 15rem;
}

.model-content {
	position: relative;
	display: flex;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
	background-color: white;
}

div.modal-content {
	padding: 2rem;
}

button.btn {
	margin-left: .25rem;
	margin-right: .25rem;
}
